@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body{
       background-image: url('./img/SL-100420-36140-29.jpg');
       background-repeat: no-repeat;
       background-size: cover;
}



     #ip{
       border-radius: 10px;
       margin-right:10px;
       padding-left: 10px;
     }

     #srcbar{
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 3.5em;
       
     }

     
     .init{
       height: auto;
       width: 500px;
       margin-left: 35%;
       font-family: 'Lato', sans-serif;
       color: rgb(255, 255, 255);
       background-color: chocolate;
     }
     
